import React from "react";

const <%= component.componentName %> = () => (
  <div>
    Please edit <%= component.path %>/<%= component.fileName %> to update this component!
  </div>
);

<%= component.componentName %>.displayName = "<%= component.displayName %>";
// Uncomment properties you need
// <%= component.componentName %>.propTypes = {};
// <%= component.componentName %>.defaultProps = {};

export default <%= component.componentName %>;
